<div class="container">
  <form [formGroup]="patientform" (ngSubmit)="createStaff()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName" required autofocus/>
    </div>
    <div class="form-group">
      <label>Middle Name</label>
      <input type="text" class="form-control" formControlName="middleName" required/>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" required/>
    </div>
    <div class="form-group">
      <label>SSN</label>
      <input type="text" class="form-control" formControlName="ssn" required/>
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="addresses" value="{{hidden}}" />
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="emailAddresses" value="{{hidden}}" />
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="phoneNumbers" value="{{hidden}}" />
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="appointments" value="{{hidden}}" />
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="labRecords" value="{{hidden}}" />
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>
