<div class="container">
  <label><u>Search for an appointment</u></label>
  <form [formGroup]="appointmentForm" (ngSubmit)="submitSearch()" validate>
    <div class="form-group">
      <label>Start Date (YYYY-MM-dd HH:mm)</label>
      <input type="text" class="form-control" formControlName="startDate" autofocus/>
    </div>
    <div class="form-group">
      <label>End Date (YYYY-MM-dd HH:mm)</label>
      <input type="text" class="form-control" formControlName="endDate"/>
    </div>

    <button type="submit" [disabled]="!(appointmentForm.value['startDate'] || appointmentForm.value['endDate'])" class="btn btn-primary">Search Appointments</button>
  </form>

  <div *ngIf="validMessage != ''">
    <h3 class="has-info">{{validMessage}}</h3>
  </div>

  <div *ngIf="appointmentList && appointmentList.length">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let appointment of appointmentList">
        <td>
          {{appointment.id}}
        </td>
        <td>
          {{appointment.type}}
        </td>
        <td>
          {{appointment.date}}
        </td>
        <td>
          {{appointment.description}}
        </td>
        <td class="text-right">
          <button pButton label="Select" (click)="pickAppointment(appointment)"> Select </button>
        </td>
      </tr>
    </table>
  </div>
</div>
