<div class="container">
  <div class="checkbox">
    <label>
      <input type="checkbox" [(ngModel)]="lock"/> Unlock Patient Record
    </label>
  </div>
  <form [formGroup]="patientForm" (ngSubmit)="updatePatient()" validate>
    <fieldset [disabled]="lock">
      <div *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
      </div>
      <div class="form-group">
        <input type="hidden" formControlName="id"  />
      </div>
      <div class="form-group">
        <label>Patient First Name</label>
        <input type="text" class="form-control" formControlName="firstName" autofocus/>
      </div>
      <div class="form-group">
        <label>Middle Name</label>
        <input type="text" class="form-control" formControlName="middleName"/>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName"/>
      </div>
      <div class="form-group">
        <label>Patient SSN</label>
        <input type="text" class="form-control" formControlName="ssn"/>
      </div>
      <div formArrayName="addresses">
          <div *ngFor="let control of patientForm.controls['addresses']['controls']; let i = index">
              <button type="button" (click)="delAddress(i)">Delete Address</button>
              <address-sub-component [addressForm]="patientForm.controls.addresses.controls[i]"></address-sub-component>
          </div>
      </div>
      <button type="button" (click)="addAddress()">Add Address</button>
      <div formArrayName="emailAddresses">
          <div *ngFor="let control of patientForm.controls['emailAddresses']['controls']; let i = index">
              <button type="button" (click)="delEmail(i)">Delete Email</button>
              <email-sub-component [emailForm]="patientForm.controls.emailAddresses.controls[i]"></email-sub-component>
          </div>
      </div>
      <button type="button" (click)="addEmail()">Add Email</button>
      <div formArrayName="phoneNumbers">
          <div *ngFor="let control of patientForm.controls['phoneNumbers']['controls']; let i = index">
              <button type="button" (click)="delPhone(i)">Delete Phone Number</button>
              <phone-sub-component [phoneForm]="patientForm.controls.phoneNumbers.controls[i]"></phone-sub-component>
          </div>
      </div>
      <button type="button" (click)="addPhone()">Add Phone Number</button>

      <div>
        <app-appointment-list (onAppointmentRemoved)="deleteAppointment($event)" [appointments]="appointments"></app-appointment-list>
      </div>
      <div>
        <app-lab-list [labs]="labRecords"></app-lab-list>
      </div>
      <br/>
      <button type="submit" [disabled]="!patientForm.valid" class="btn btn-primary" >Submit</button>
    </fieldset>
  </form>
</div>
