<div class="container">
  <form [formGroup]="staffForm" (ngSubmit)="submitSearch()" validate>
    <div class="form-group">
      <label>Staff First Name</label>
      <input type="text" class="form-control" formControlName="firstName" autofocus/>
    </div>
    <div class="form-group">
      <label>Middle Name</label>
      <input type="text" class="form-control" formControlName="middleName"/>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName"/>
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="form-control" formControlName="role">
        <option value="">Please select a role</option>
        <option *ngFor="let r of role"
                [value]="r">
                {{r}}
        </option>
      </select>
    </div>

    <button type="button" (click)="submitSearch()" [disabled]="!(staffForm.value['firstName'] || staffForm.value['lastName'] || staffForm.value['role'])" class="btn btn-primary">Search Staff</button>



    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>

    <div *ngIf="staffList && staffList.length">
      <table class="table table-bordered table-inverse">
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Role</th>
        </tr>
        <tr *ngFor="let staff of staffList">
          <td>
            {{staff.id}}
          </td>
          <td>
            {{staff.firstName}}
          </td>
          <td>
            {{staff.middleName}}
          </td>
          <td>
            {{staff.lastName}}
          </td>
          <td>
            {{staff.role}}
          </td>
          <td class="text-right">
            <button label="Select" (click)="pickStaff(staff)"> Select </button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
