<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Id</th>
      <th>Role</th>
      <th>First-Name</th>
      <th>Niddle-Name</th>
      <th>Last-Name</th>
      <th>Details</th>
      <th>Appointments</th>
      <th>New</th>
    </tr>
    <tr *ngFor="let staff of staffs">
      <td>
        {{staff.id}}
      </td>
      <td>
        {{staff.role}}
      </td>
      <td>
        {{staff.firstName}}
      </td>
      <td>
        {{staff.middleName}}
      </td>
      <td>
        {{staff.lastName}}
      </td>
      <td class="text-right">
        <a routerLink="/staffDetail/{{staff.id}}"> View Details </a>
      </td>
      <td class="text-right">
        <a routerLink="/appointmentsById/{{staff.id}}"> View Appointments </a>
      </td>
      <td class="text-right">
        <a routerLink="/staffCreate"> New Staff </a>
      </td>
    </tr>
  </table>
</div>
