<div class="container">
  <button pButton label="Register" (click)="registerStaff()" [hidden]="staffDetail">Register</button>
  <button pButton label="Hide" (click)="staffDetail=false" [hidden]="!staffDetail">Hide</button>
  <div [hidden]="!staffDetail">
    <staff-form-component [staff]='staff'></staff-form-component>
  </div>
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Id</th>
      <th>Role</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Details</th>
      <th>Appointments</th>
      <th>New</th>
    </tr>
    <tr *ngFor="let staff of staffs">
      <td>
        {{staff.id}}
      </td>
      <td>
        {{staff.role}}
      </td>
      <td>
        {{staff.firstName}}
      </td>
      <td>
        {{staff.middleName}}
      </td>
      <td>
        {{staff.lastName}}
      </td>
      <td class="text-right">
        <button pButton label="View Details" (click)="getStaff(staff.id)"> View Details </button>
      </td>
      <td class="text-right">
        <a routerLink="/appointmentsById/{{staff.id}}"> View Appointments </a>
      </td>
    </tr>
  </table>
</div>
