<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Id</th>
      <th>Role</th>
      <th>First-Name</th>
      <th>Niddle-Name</th>
      <th>Last-Name</th>
      <th>Details</th>
      <th>Appointments</th>
      <th>Labs</th>
      <th>New</th>
    </tr>
    <tr *ngFor="let staff of staffs">
      <td>
        {{staff.id}}
      </td>
      <td>
        {{staff.role}}
      </td>
      <td>
        {{staff.first-name}}
      </td>
      <td>
        {{staff.middle-name}}
      </td>
      <td>
        {{staff.last-name}}
      </td>
      <td class="text-right">
        <a routerLink="/staffDetail/{{staff.id}}"> View Details </a>
      </td>
      <td class="text-right">
        <a routerLink="/appointmentsById/{{staff.id}}"> Appointments staffed </a>
      </td>
      <td class="text-right">
        <a routerLink="/labsById/{{staff.id}}"> Labs staffed </a>
      </td>
      <td class="text-right">
        <a routerLink="/labDetail/{{staff.id}}"> New Staff </a>
      </td>
    </tr>
  </table>
</div>
