<div [formGroup]="addressForm">
    <br/>
    <label>Address Line 1</label>
    <input type="text" formControlName="addressLine1"/>
    <br/>

    <label>Address Line 2</label>
    <input type="text" formControlName="addressLine2"/>
    <br/>

    <label>City</label>
    <input type="text" formControlName="city"/>
    <br/>

    <label>State</label>
    <input type="text" formControlName="state"/>
    <br/>

    <label>Zip Code</label>
    <input type="text" formControlName="zipCode"/>
    <br/>

    <label>Country</label>
    <input type="text" formControlName="country"/>
    <br/>
</div>
