<div [formGroup]="addressForm">
    <label>Address Line 1</label>
    <input type="text" formControlName="addressLine1"/>

    <label>Address Line 2</label>
    <input type="text" formControlName="addressLine2"/>

    <label>City</label>
    <input type="text" formControlName="city"/>

    <label>State</label>
    <input type="text" formControlName="state"/>

    <label>Zip Code</label>
    <input type="text" formControlName="zipCode"/>

    <label>Country</label>
    <input type="text" formControlName="country"/>
</div>
